  <div class="d-flex justify-content-between">
    <button class="add-btn"
      (click)="addProduct()">+ Add</button>

    <input type="text"
      class="search"
      placeholder="">

    <div class="">
      <label for="sort">Sort By</label>
      <select name="sort"
        id="sort"
        (change)="onChangeSortBy($event.target.value)">
        <option value="name">Name</option>
        <option value="date">Recently Added</option>
      </select>
    </div>
  </div>

  <div class="product-list">
    <app-product *ngFor="let p of productsInPage"
      class="mb-2"
      [product]="p"
      [selected]="p?.id === productsService?.selectedProduct?.id"
      (delete)="deleteProduct($event)"
      (click)="selectProduct(p)">
    </app-product>
  </div>

  <div class="ng-container">
    <app-paginator #paginator
      [totalRecords]="productList?.length"
      [rows]="paginationRows"
      (onPageChange)="onPageChange($event)">
    </app-paginator>
  </div>
