.container {
  padding-top: 23px;
}

.save-btn {
  background-color: palegreen;
  box-shadow: 3px 3px black;
  font-weight: 500;
  float: right;
  margin-top: 10px;
}

.required:after {
  content: "*";
  color: red
}

.error-border {
  border: 1px solid red;
}
